@font-face {
  font-family: 'iconfont'; /* Project id 721157 */
  src: url('//at.alicdn.com/t/c/font_721157_z1umd6cwoe8.woff2?t=1714298875629') format('woff2'),
    url('//at.alicdn.com/t/c/font_721157_z1umd6cwoe8.woff?t=1714298875629') format('woff'),
    url('//at.alicdn.com/t/c/font_721157_z1umd6cwoe8.ttf?t=1714298875629') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
